<h1>Listing micrroposts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Userid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @micrroposts.each do |micrropost| %>
  <tr>
    <td><%= micrropost.content %></td>
    <td><%= micrropost.userid %></td>
    <td><%= link_to 'Show', micrropost %></td>
    <td><%= link_to 'Edit', edit_micrropost_path(micrropost) %></td>
    <td><%= link_to 'Destroy', micrropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micrropost', new_micrropost_path %>
