<h1>Listing miccroposts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Userid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @miccroposts.each do |miccropost| %>
  <tr>
    <td><%= miccropost.content %></td>
    <td><%= miccropost.userid %></td>
    <td><%= link_to 'Show', miccropost %></td>
    <td><%= link_to 'Edit', edit_miccropost_path(miccropost) %></td>
    <td><%= link_to 'Destroy', miccropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Miccropost', new_miccropost_path %>
